@import "/src/assets/css/style.scss";

.header {
    height: 95vh;
    /* 
    height: 95vh; means that the height of the .header will always be the 95%
    of the viewport height — changing the screen size is unimportant.
    */

    background-image: linear-gradient(
        to right bottom, 
        rgba($light-green, 0.8), 
        rgba($dark-green, 0.8)), 
        url(../../../assets/img/hero.jpg);
    background-size: cover;

    /* 
    background-size: cover; what makes this is, whatever the viewport or the 
    element is, it'll always to fit the element inside of the box. 
    */

    background-position: top;

    /* 
    background-position: top; makes that whatever the window size, it will always
    make the image stick onto the top side. 
    */

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    /* 
    clip-path property creates a clipping region that sets what part of an element 
    should be shown. parts that are inside the region are shown, while those outside 
    are hidden. some elements are

    clip-path: circle();
    clip-path: ellipse();
    clip-path: polygon();
    clip-path: path();
    */

    position: relative;
}
